.menu-list{
    min-height: 100vh;
    background-color: #001529;
    max-width: 200px;
    height: auto;
}
.link{
    color:rgba(255,255,255,0.65);
    width: 100%;
}
.link:hover{
    color: white;
}
.link::selection{
    color: white;
}
